<!-- 1.- String interpolation -->
<h1>String interpolation</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p> 3 + 3 = {{ 3 + 3 }}</p>
<h3>El nombre del proyecto es: {{title}}</h3>
<img width="200" src={{img}} />
<hr>
<hr>
<!-- 2.- Property Binding -->
<h1>Property Binding</h1>
<button [disabled]="btnDisabled">Property Binding</button>
<input type="text" [value]="title"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.img" />
<!-- 1.-sirve para ingresar contenido
     2.-son especificos para propiedades -->
<hr>
<hr>
<h1>Eventos</h1>
<button (click)="toggleButton()">Toggle Button</button>
<button (click)="addAge()">Add one year</button>
<div class="box" (scroll)="onScroll($event)">
  <p> Pruebas de css y eventos</p>
</div>
<h2>Mi nombre es: {{person.name}}</h2>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>
<hr>
<hr>
<h1>NgModel (Data binding</h1>
<h2>Mi nombre es: {{person.name}}</h2>
<input type="text" required="true" #nameInput="ngModel" [(ngModel)] = "person.name"/>
<p>valid: {{nameInput.valid}}</p>
<h2>Mi edad es: {{person.age}}</h2>
<input type="number" min="18" max="100" required #ageInput="ngModel" [(ngModel)] = "person.age"/>
<p>valid: {{ageInput.valid}}</p>
